<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <div class="entry-month-controls">
      <ion-buttons>
        <ion-button mode="ios">
          <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>December</ion-title>
      <ion-buttons>
        <ion-button mode="ios">
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <moodcard-component
      *ngFor="let entry of entries"
      [entry]="entry"
    ></moodcard-component>
  </div>

  <fbc title="Entry" (click)="newEntry()"></fbc>
</ion-content>
